<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InformationSystemInfrastructure</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InformationSystemInfrastructure.styles.css" asp-append-version="true" />
    <!--My additional styles-->
    <link rel="stylesheet" href="~/css/mystyles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="header-menu">
            <a class="button1" asp-area="" asp-controller="Home" asp-action="Index">InformationSystem</a>
            <div class="ut-divider1"></div>
            <a class="button1" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <div class="ut-divider1"></div>
            <a class="button1" asp-area="" asp-controller="Articles" asp-action="Index">Articles</a>
            <div class="ut-divider1"></div>
            <a class="button1" asp-area="" asp-controller="Subjects" asp-action="Index">Subjects</a>
            <div class="ut-divider1"></div>
            <a class="button1" asp-area="" asp-controller="PublicationTypes" asp-action="Index">Publication Types</a>
            <div class="ut-divider1"></div>
            <a class="button1" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
            <div class="ut-divider1"></div>
            <a class="button1" asp-area="" asp-controller="Comments" asp-action="Index">Comments</a>
            <div class="ut-divider1"></div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - InformationSystemInfrastructure - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
